.vscode

#alembic env
alembic.ini

#python
venv39
__pycache__
*.pyc

.DS_Store
fut-sexta/node_modules
fut-sexta/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?